/* vars */
:root {
  --my-grey: #EEE;
  --near-black: #333;
}

/* Smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* General styles */
body {
  font-family: sans-serif;
  color: #333;
  margin: 0;
}

a {
  color: #111;
  text-decoration: none;
  margin-right: 15px;
  padding: 5px;
}

section {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* Define style for headings */
h1, h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: #5f5f5f;
}

h1 {
  font-size: 2.5em;
  padding:  50px 0px 20px 20px;
}

h2 {
  font-size: 2em;
  padding-top:  50px;
}


/* Define the style for unordered lists */
ul {
  font-family: sans-serif;
  font-size: 1em;
  color: var(--near-black);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-family: sans-serif;
  font-size: 1em;
  color: var(--near-black);
}

/* About me styles */
.left, .right {
  display: inline-block;
  vertical-align: middle;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
  border-left: 3px solid var(--my-grey);
  padding: 100px 0px 100px 20px;
}

.left img {
  max-height: 200px;
  border: 3px solid var(--my-grey);
  border-radius: 100%;
  padding: 0 10px 30px 10px;
  margin-right: 20px;
}

#about-me {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Projects section/grid */
#grid {
  display: grid;
  grid-template-rows: 1fr 1r;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "p1 p2 p3" "p4 p5 p6";
  margin: 0 auto 50px;
  padding: 0 20px;
  row-gap: 20px;
  column-gap: 30px;
}

.projects {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-self: stretch;
}

.projects p {
  padding: 10px;
  display: inline-block;
  background-color: rgba(227, 227, 227, 0.85);
  width: 100%;
  text-align: left;
  margin: 0;
}

#p1 {
  grid-area: p1;
  background-image: url(./images/diner.jpg);
}

#p2 {
  grid-area: p2;
  background-image: url(./images/seo.jpg);
}

#p3 {
  grid-area: p3;
  background-image: url(./images/css.jpg);
}

#p4 {
  grid-area: p4;
  background-image: url(./images/design.jpg);
}

#p5 {
  grid-area: p5;
  background-image: url(./images/study_guide.jpg);
}

#p6 {
  grid-area: p6;
  background-image: url(./images/placeholder6.jpg);
}

/* Contact section */
#contact li, nav li {
  display: inline-block;
}

#contact img {
  margin: 10px 50px;
  max-height: 35px;
}

#contact {
  margin-bottom: 100px;;
}

/* nav menu */
nav {
  font-family: sans-serif;
  font-size: 1em;
  color: var(--near-black);
  background-color: var(--my-grey);
  padding: 15px;
}

nav a:hover {
  color: #FFF;
  background-color: #333;
}


/* Header section */
header {
  font-family: sans-serif;
  font-size: 1em;
  color: #333;
  background-color: var(--my-grey);
}

/* Define the font, size, and color for the main element */
main {
  font-family: sans-serif;
  font-size: 1em;
  color: var(--near-black);
  background-color: #FFF;
  margin: 0 50px 100px 0;
}

/* Define the style for the footer element */
footer {
  font-family: sans-serif;
  font-size: 1em;
  color: var(--near-black);
  background-color: var(--my-grey);
}

footer p{ 
  margin-left: 20px;
}

/* Make the nav and footer elements fixed at the top and bottom of the page */
nav, footer {
  position: fixed;
  width: 100%;
}

/* Make the nav element fixed at the top of the page */
nav {
  top: 0;
}

/* Make the footer element fixed at the bottom of the page */
footer {
  bottom: 0;
}

/* Chart style */
canvas {
  margin-top: 50px;
  max-height: 500px;
  max-width: 500px;
}

/* Make the chart responsive */
#my-chart {
width: 100%;
height: auto;
margin: 25px auto;
}
  
/* Responsive styles */
@media screen and (max-width: 600px) {
  h1, h2 {
    font-size: 1.5em;
  }

  /* https://stackoverflow.com/questions/10933837/line-break-like-br-using-only-css */
  .bold:after {
    content:"\a";
    white-space: pre;
  }

  footer {
    display:none;
  }

  #contact img {
    margin: 10px 20px;
  }
}

@media screen and (max-width: 900px) {
  #grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    margin: 0 50px;
    column-gap: 50px;
    row-gap: 20px;
  }

  .left img {
    max-width: 100px;
  }

  .right {
    padding: 60px 0px 60px 20px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  #grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
    margin: 0 50px;
    column-gap: 50px;
    row-gap: 20px;
  }
}